---
import { IHeroProps } from "@types";

const { name, about } = Astro.props as IHeroProps;
---

<section>
  <p class="dark:text-light mt-[10px]">Hey, I’m</p>
  <h1>{name}</h1>
  <h2 class="text-2xl mb-8 text-blue">Full Stack Developer | Software Developer</h2>
  <p class="dark:text-light text-lg mb-16">
    {about}
  </p>
</section>
