---
import { ISkills } from "@types";

const { title, details } = Astro.props as ISkills;
---

<section class="flex items-start justify-between flex-col sm:flex-row dark:text-light">
    <h2 class="w-[15rem] mt-16">{title}</h2>
    <div class="w-full">
      <ul class="grid grid-cols-2 md:grid-cols-4 gap-4">
        {
            details.map((item, i) => (
                <li class="my-16">
                    <div class="flex justify-between items-center">
                        <span class="text-lg dark:text-light">{item.name}</span>
                    </div>
                </li>
            ))
        }
      </ul>
    </div>
  </section>
  